<h1>Pictures#index</h1>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<%= link_to "Picture 投稿", new_picture_path %>

<%= render "pictures" %>
